<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Eileen's Blog</title>
</head>

html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #3e0f5a;
    border-bottom: 10px solid #3e0f5a;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

table, tr, td {
    border: 1px solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    position: sticky;
    
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted rgb(181, 181, 181);
}

section {
    background: rgba(202, 202, 202, 0.987);
    display: flex;

}

article {
    background: rgba(255, 255, 255, 0.773);
    padding: 20px;
    margin: 20px;
}

article:nth-of-type(1) {
    flex: 1;
}

article:nth-of-type(2) {
    flex: 1;
}

.sticky {
    background: #ccc;
    position: sticky;
    top: 0;
}

img {
    float: center;
}

@media (max-width: 400px) {
    body {
        background-color: #523b5f9b;
    }
}